* {
    margin: 0;
    padding: 0;
}

header {
    background-color: darkslategrey;
    position: fixed;
    width: 100%;
    height: 80px;
}

header nav {
    position:relative;
}

header nav ul {
    top: 40px;
}

header nav ul li {
    float: right;
    margin-left: 4em;
    margin-right: 1em;
    
}